#root {
  max-width: 1200px;
  margin: 0 auto;
}

.button__container {
  margin-top: 200px;
  text-align: center;
}

.button {
  background-color: green;
  border: none;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 200px;
}

.ResponseContainer {
  border: 1px solid #bbb;
  margin: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
